@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  /* Your theme variables */
  --color-pale-dogwood: #DFBBB1;
  --color-bright-pink: #F56476;
  --color-cerise: #E43F6F;
  --color-mulberry: #BE3E82;
  --color-eggplant: #5E4352;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--color-bg-app);
}

.rbc-time-content > * + * {
  border-left: 1px solid var(--color-calendar-lines) !important;
}

.rbc-time-slot {
  border-top: 0 !important;
}

.rbc-time-gutter {
  width: 60px;
}